.App {
  font-family: sans-serif;
  text-align: center;
}
body,
button,
html,
input,
select,
h2,
textarea {
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
textarea::placeholder {
  color: #5e6c84;
}
